// Colors
$white: #ffffff;
$lightgray: #eaeff2;
$bluegray: #c3d1da;
$gray: #c9c8c6;
$darkbluegray: #848d93;
$pewter: #75807c;
$red: #d85a47;
$midred: #f8998b;
$lightred: #fad8d9;
$yellow: #ffd166;
$lightyellow: #fff6e0;
$darkyellow: #eea600;
$brownyellow: #ad7900;
$green: #06d6a0;
$mintgreen: #ade0de;
$lightgreen: #c8f6ea;
$black: #202322;
$purple: #26547c;
$gray-200: #c8cdcc;
$gray-900: #1e2221;
$success: #06d6a0;
$gray: #afc4d1;
$gray-500: #808c88;
$gray-600: #67726e;
$cool-gray-600: #588099;
$danger: #d85a47;
$cool-gray-50: #f8fafb;
$lightpurple: #adceff;
$color-pink: #ffccd2;
$orange-yellow: #ffe8b2;
$lightgrayText: #98a29f;

// Font Stuff
$work: "Work Sans", sans-serif;

// Effect Stuff
$speed: 0.15s;
$spacing: 0.15rem;
$bezier: 0.74, 0.445, 0.145, 0.955;

// Grid Stuff
$xsmall: 36.25em; // 580px
$small: 48rem; // 768px
$medium: 64rem; // 1024px
$large: 80rem; // 1280px
$full: 90rem; // 1440px
